$heading-font-family: "Ronzino", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none

$color-bleulab: #002B3B
$color-blanclab: #ffffff
$color-vertlab: #B7FF6A
$color-rougelab: #ED6B66

$color-accent: $color-bleulab !default
$color-text: $color-bleulab
$color-text-alt: $color-bleulab
$color-border: rgba(0, 0, 0, 0.30) !default
$color-background-alt: #F2F2F2 !default
$color-background: #FFFFFF !default

$body-color: $color-bleulab !default
$body-background-color: $color-background !default

$link-color: $color-bleulab !default
$link-underline-offset: 6px !default

/* HEADER */
$header-background: $color-blanclab !default

/* FOOTER */
$footer-color: $color-blanclab
$footer-background-color: $color-bleulab

$block-call-to-action-background: $color-accent !default
$block-call-to-action-color: $color-bleulab !default

/* Apparence du bouton du premier lien */
$block-call-to-action-button-background: $color-background !default
$block-call-to-action-button-color: $color-text !default
