.page__home header
  height: 0;
  min-height: 0;
  
.page__home h1
  @extend .sr-only


header
  .logo
    display: flex
    align-items: center
    gap: 12px
  
    .logo-text
      font-weight: 700 !important
  
    &::before
      content: ""
      display: block
      width: 40px
      height: 40px
      background-image: url('/assets/images/logo.svg')
      background-size: contain
      background-repeat: no-repeat
      background-position: center

.section-sidebar.post-sidebar
  .taxonomy-children a,
  .authors a
    color: $color-bleulab
    background-color: $color-vertlab
    text-decoration: none
    border: none
    padding: 0 1px 0 5px;
  
    &:hover
      color: $color-vertlab
      background-color: $color-bleulab

.block-content .link .link-content:hover
  background-color: $color-vertlab
  color: $color-blanclab

.footer-container-aboutLab-div
  display: flex
  align-items: center
  gap: 8px

.footer-container-aboutLab
  padding-top: 0 !important

.footer-container-aboutLab-arrow
  display: none

  @include media-breakpoint-up(desktop)
    display: block


// Partie provisoire pour scrollama
#scrolly
  position: relative
  background-color: #f3f3f3
  padding: 1rem

  article
    position: relative
    padding: 0
    max-width: 20rem
    margin: 0 auto

  figure
    position: -webkit-sticky
    position: sticky
    left: 0
    width: 100%
    margin: 0
    -webkit-transform: translate3d(0, 0, 0)
    -moz-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)
    background-color: #8a8a8a
    z-index: 0

    p
      text-align: center
      padding: 1rem
      position: absolute
      top: 50%
      left: 50%
      -moz-transform: translate(-50%, -50%)
      -webkit-transform: translate(-50%, -50%)
      transform: translate(-50%, -50%)
      font-size: 8rem
      font-weight: 900
      color: #fff

  .step
    margin: 0 auto 2rem auto
    color: #fff
    background-color: rgba(0, 0, 0, 0.1)

    &:last-child
      margin-bottom: 0

    p
      text-align: center
      padding: 1rem
      font-size: 1.5rem
      background-color: #3b3b3b

    &.is-active p
      background-color: goldenrod
      color: #3b3b3b
